<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AnnotationTest</display-name>
  <servlet>
  	<servlet-name>AnnotationSrvt</servlet-name>
  	<servlet-class>srvt.fkit.util</servlet-class>
  </servlet>
  <!-- <servlet-mapping>
  	<servlet-name>AnnotationTest</servlet-name>
  	<url-pattern>/AnnotationSrvt</url-pattern>
  </servlet-mapping> -->
</web-app>